nav {
    background: linear-gradient(90.41deg, #888d1f 1.14%, #0f66ca 100%);
    display: flex;
    height: 65px;
    padding: 0 20px;
    color: #FFFFFF;
  }
  
  .nav-title {
    margin: auto 0;
    display: flex;
    height: 65px;
  }
  .nav-title h1 {
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.0em;
    line-height: 28px;
  }
  
  .nav-logo {
    height: 26px;
    margin: auto;
    margin-right: 7px;
  }
  
  .nav-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin: auto;
    margin-right: 0;
  }
  